### ----------------------------------------------------------------------------
## data file
### ----------------------------------------------------------------------------
*.cfg
# *.dat
# *.xyz

### ----------------------------------------------------------------------------
###  Python, python-jupyter stuff
### ----------------------------------------------------------------------------
## goodsync ignore
**/_gsdata_/

## python-jupyter stuff
**/.ipynb_checkpoints/
**/__pycache__/

## tmp file due to office: ~$_*.doc,  ~$_*.ppt
**/~*.*

## build docs
_build/


### ---------------------------------------------------------------------------
### Latex tool auxiliary files:
### ---------------------------------------------------------------------------
# **/Zoutdir/   # this igores "folder"
## this igores "files" in folder
**/Zoutdir/*
**/auxDIR/
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)


### ----------------------------------------------------------------------------
### Do not take effect these files
### ----------------------------------------------------------------------------
## note to only igore "files" in folder `/Zoutdir/`
# !**/Zoutdir/*.pdf
!**/Zoutdir/*.bbl